**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
**/build
**/dist
**/.DS_Store
**/appsettings.Development.json
**/appsettings.Local.json
LICENSE
README.md
